---
layout: default
---

<script>
function execute() {
  var data = { Name : document.getElementById("cmt-name").value, Email : document.getElementById("cmt-email").value, Comment : document.getElementById("cmt-cmt").value }
  console.log(data)
}
</script>

<div class="comments">
  <form name="new-comment">
    <input type="text" id="cmt-name" placeholder="Name"/>
    <input type="text" id="cmt-email" placeholder="Email"/>
    <input type="textarea" id="cmt-cmt" placeholder="Your comment here..."/>
    <button onclick="execute()">Submit</button>
  </form>
</div>
