---
layout: default
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
var $form = $('form#new-comment'),
    url = 'https://script.google.com/macros/s/AKfycbwSPKLVaapllcGck2ALbxsCeZLTf0fDLUWXGqK2fkj7zC_jrcI/exec'

$('#cmt-submit').on('click', function(e) {
  e.preventDefault();
  var jqxhr = $.ajax({
    url: url,
    method: "POST",
    dataType: "json",
    data: $form.serializeObject()
  }).success(
    alert("Posted successfully!")
  );
})
</script>

<div class="comments">
  <form id="new-comment">
    <input type="text" id="cmt-name" placeholder="Name"/>
    <input type="text" id="cmt-email" placeholder="Email"/>
    <input type="textarea" id="cmt-cmt" placeholder="Your comment here..."/>
    <button type="submit" id="cmt-submit">Submit</button>
  </form>
</div>
